[data-grid] {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

[data-grid] caption {
    text-align: start;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: var(--spacing-2);
}

a[href="/proposals/new"] {
    margin: var(--spacing-2) 0;
    margin-left: auto;
    padding-top: var(--spacing-1-5);
}
