form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}

[data-field-wrapper]:has([name="title"]),
[data-field-wrapper]:has([name="description"]),
button {
    grid-column: 1 / 3;
}

button {
    justify-self: end;
}
