form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input, select, textarea {
    width: 100%;
}

textarea {
    resize: none;
}

label[for="title-input"] {
    font-weight: 600;
}

label[for="title-input"]::after {
    content: " *";
    color: var(--red);
}

.clear-dropdown-selection {
    color: var(--red);
}
