form {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    align-items: center;
}

textarea {
    grid-column: 1 / 5;
}

button[type="submit"] {
    grid-column: 4 / 5;
    justify-self: end;
}

input[name="title"] {
    grid-column: 2 / 5;
}
