:root {
    --primary-color: #0078d4;
    --primary-color-dark-alt: #106ebe;
    --primary-color-darker: #004578;

    --gray-10: #faf9f8;
    --gray-20: #f3f2f1;
    --gray-130: #605e5c;
    
    --red: #d13438;
    --magenta-20: #881798;

    --depth-4: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
    --depth-8: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
    --depth-16: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
    --depth-64: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
}

*, *::after, *::before {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

html {
    font-size: 1.5rem;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

body {
    background: var(--gray-10);
    display: flex;
    flex-direction: column;
}

input, select, textarea, button {
    font-size: inherit;
    font-family: inherit;
    display: block;
    padding: 9px 8px;
    appearance: none;
}

input, textarea, select {
    border: 1px solid black;
    border-radius: 2px;
    outline-color: var(--primary-color);
}

a {
    color: inherit;
}

ul, ol {
    list-style-position: inside;
}

main {
    padding: 16px;
    background: white;
    flex: 1;
}

h1 {
    font-size: 1.3rem;
}

/******************** App Header ********************/
#app-header {
    background: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#app-header a {
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
}

#app-header [data-username] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border: 0;
    background: transparent;
    color: inherit;
}

@media (hover: hover) and (pointer: fine) {
    #app-header [data-username]:hover {
        background: var(--primary-color-dark-alt);
    }
}

#app-header [data-username]:active {
    background: var(--primary-color-darker);
}

#app-header [data-username] span {
    --container-size: 1.2rem;
    background: var(--magenta-20);
    border-radius: 50%;
    font-size: 0.6rem;
    width: var(--container-size);
    height: var(--container-size);
    line-height: var(--container-size);
    text-align: center;
    font-weight: 600;
}

/******************** Page Header ********************/
[data-page-header] {
    margin-bottom: 14px;
}

/******************** Buttom Primary ********************/
[data-button-primary] {
    display: block;
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    width: fit-content;
    padding: 12px;
    font-weight: 600;
    border-radius: 2px;
    font-size: 0.7rem;
    border: 0;
    cursor: pointer;
}

[data-button-primary]:hover {
    background: var(--primary-color-dark-alt);
}

[data-button-primary]:active {
    background: var(--primary-color-darker);
}

/******************** Dropdown ********************/
[data-dropdown] [data-dropdown-title] {
    position: relative;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
    padding: 9px 8px;
    min-height: 2.166666666rem;
    outline-color: var(--primary-color);
}

[data-dropdown] [data-dropdown-title] [data-icon] {
    --icon-size: 0.75rem;
    position: absolute;
    right: 8px;
    top: 0;
    bottom: 0;
    height: var(--icon-size);
    margin: auto;
    color: var(--gray-130);
    font-size: var(--icon-size);
}

[data-dropdown-backdrop] {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 0.3);
    will-change: opacity;
}

[data-dropdown-backdrop][data-transition="enter"] {
    animation: fade-in 100ms;
}

[data-dropdown-backdrop][data-transition="exit"] {
    opacity: 0;
    transition: opacity 100ms;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

[data-dropdown-options] {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    will-change: transform;
}

[data-dropdown-options][data-transition="enter"] {
    animation: pop-up 100ms ease-out;
}

[data-dropdown-options][data-transition="exit"] {
    transform: translateY(100%);
    transition: transform 100ms ease-in;
}

@keyframes pop-up {
    0% { transform: translateY(100%); }
    100% { transform: none; }
}

[data-dropdown-options] [data-dropdown-option] {
    border: 0;
    background: transparent;
    width: 100%;
    min-height: 2.0833333rem;
    cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
    [data-dropdown-options] [data-dropdown-option]:hover {
        background: var(--gray-20);
    }
}
