*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
    font-size: 1.5rem;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

body {
    background: var(--gray-10);
    display: flex;
    flex-direction: column;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}

@media (hover: hover) and (pointer: fine) {
    a:hover {
        text-decoration: revert;
    }
}

ul,
ol {
    list-style-position: inside;
}

main {
    padding: var(--spacing-2);
    background: white;
    flex: 1;
}

h1 {
    font-size: 1.3rem;
}

h2, h3, h4, h5, h6 {
    font-size: inherit;
}

[data-visually-hidden] {
    visibility: inherit;
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

/******************** Forms ********************/
input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
    display: block;
    padding: 9px var(--spacing-1);
    appearance: none;
    width: 100%;
}

input,
textarea,
select {
    border: 1px solid black;
    border-radius: var(--border-radius);
    outline-color: var(--primary-color);
}

textarea {
    resize: none;
}

[data-display-validation] input:invalid {
    border-color: var(--red-dark);
    outline-color: var(--red-dark);
}

[data-field-wrapper] [role="alert"] {
    color: var(--red-dark);
    font-size: 0.75rem;
}

[data-field-wrapper] input + [role="alert"] {
    display: none;
}

[data-field-wrapper] input:invalid + [role="alert"] {
    display: revert;
}

label {
    font-weight: 600;
    font-size: 0.75rem;
}

label:has(+ [required])::after {
    content: " *";
    color: var(--red);
}

/******************** App Header ********************/
#app-header {
    background: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#app-header [data-app-name] {
    padding: var(--spacing-1) var(--spacing-2);
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
    color: white;
}

/******************** Expandable ********************/
@keyframes expand {
    from {
        transform: scaleY(0);
        transform-origin: top;
    }
    to {
        transform: none;
    }
}

@keyframes collapse {
    from {
        transform: none;
    }
    to {
        transform: scaleY(0);
        transform-origin: top;
    }
}

[data-expandable][data-transition="enter"] {
    animation: expand 100ms;
}

[data-expandable][data-transition="exit"] {
    animation: collapse 100ms;
    transform: scaleY(0);
}

@media (prefers-reduced-motion) {
    [data-expandable] {
        animation: none !important;
    }
}
