main {
    width: 60vw;
    min-height: calc(100vh - 2rem);
    padding: 64px;
    margin: 0 auto;
    box-shadow: var(--depth-4);
    flex: none;
}

/******************** Page Header ********************/
[data-page-header] {
    margin-bottom: 64px;
}
