li {
    list-style: none;
    border-bottom: 1px solid #f3f2f1;
    padding: 4px 0 8px 0;
}

@media (hover: hover) and (pointer: fine) {
    li:hover {
        background: #f3f2f1;
    }
}

a[href="/new"] {
    display: block;
    margin: 16px 0;
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    width: fit-content;
    padding: 12px;
    padding-top: 10px;
    font-weight: 700;
    border-radius: 2px;
    font-size: 0.7rem;
    margin-left: -12px;
}
