section {
    margin-bottom: 64px;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 8px 32px;
    margin-bottom: 64px;
    font-size: 0.8rem;
}

#description {
    white-space: pre-wrap;
}
