[data-icon-button] {
    background: transparent;
    border: 0;
    cursor: pointer;
    color: var(--primary-color);
}

[data-icon-button]:active {
    color: var(--primary-color-darker);
}

@media (hover: hover) and (pointer: fine) {
    [data-icon-button]:hover {
        color: var(--primary-color-dark-alt);
    }
}
